@media (max-width: 1200px) {
    .header .container-fluid, .slider .container-fluid {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .navbar-brand img {
        max-width: 90px;
    }
    ul.header-menu li a {
        padding: 10px 12px;
        font-size: 13px;
    }
    .h-search {
        width: 30px;
        font-size: 19px;
    }
    .h-call {
        width: 180px;
        margin-left: 15px;
    }
    .h-call .h-call-left i {
        font-size: 20px;
    }
    .h-call .h-call-right h3 {
        font-size: 16px;
    }
    .h-call .h-call-right a {
        font-size: 15px;
    }
    body .btn-primary {
        padding: 12px 15px;
        width: 120px;
        font-size: 15px;
    }
    .common-content h2 {
        font-size: 20px;
    }
    .common-content p {
        font-size: 14px;
        line-height: 1.2rem;
    }
    .about-img .expiriance {
        bottom: -58px;
    }
    .about-img .expiriance .ex-text h2 {
        font-size: 30px;
    }
    .about-img .expiriance .ex-text h3 {
        font-size: 14px;
    }
    .why-pcu-right .wpr-item {
        padding: 15px;
    }
    .why-pcu-right .wpr-item i {
        font-size: 30px;
        height: 70px;
        width: 70px;
        line-height: 70px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .why-pcu-right .wpr-item h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .why-pcu-right .wpr-item p {
        font-size: 14px;
        line-height: 1.2rem;
    }
    .lfb-left h2 {
        font-size: 25px;
        padding: 25px 0;
    }
    .lfb-left ul::before {
        height: calc(100% - 115px);
    }
    .help-yb-Call .hyc-content {
        padding: 50px 40px;
    }
    .help-yb-Call .hyc-content .hyc-content-left h3 {
        font-size: 25px;
    }
    .help-yb-Call .hyc-content .hyc-content-right {
        width: 100%;
    }
    .help-yb-Call .hyc-content .hyc-content-right i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 28px;
    }
    .help-yb-Call .hyc-content .hyc-content-right a {
        font-size: 20px;
        margin-top: 10px;
        margin-left: 0;
        display: block;
    }
    .company-values-left h2 {
        font-size: 30px;
        padding: 20px 0;
    }
    .company-values-left ul li {
        margin-bottom: 15px;
    }
    .company-values-left ul li .cvlul-left {
        width: 100px;
        font-size: 30px;
    }
    .company-values-left ul li .cvlul-right p {
        line-height: 1.2rem;
        font-size: 15px;
    }
    .scic-right ul li {
        margin-bottom: 5px;
        font-size: 15px;
    }
    .scic-right h3 {
        font-size: 19px;
        margin-bottom: 8px;
    }
    .scic-right p {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .services-top {
        margin-bottom: 30px;
    }
    .clients-content-left p {
        font-size: 20px;
        line-height: 1.8rem;
    }
    .clients-content-left h3 {
        margin-top: 15px;
        margin-bottom: 8px;
    }
    .clients-content-right .ccr-icon {
        left: 66px;
        bottom: 35px;
        position: absolute;
    }
    .clients-content-right .ccr-icon a {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 25px;
    }
    .team-item h3 {
        font-size: 15px;
        margin-bottom: 5px;
        margin-top: 15px;
    }
    .team-item p {
        font-size: 12px;
    }
    .team-item-img .team-item-social ul li a {
        width: 27px;
        height: 27px;
        line-height: 27px;
        font-size: 15px;
    }
    .team-item:hover .team-item-img .team-item-social ul li {
        transform: translateY(-15px);
    }
    .blog-item h2 a {
        font-size: 20px;
        padding: 10px 0;
    }
    .footer-top .i-1 a img {
        max-width: 80%;
        margin-bottom: 34px;
    }
    .footer-top .i-1 p {
        font-size: 15px;
    }
    .footer-top .i-1 .social span {
        font-size: 11px;
        margin-right: 8px;
        margin-top: 6px;
    }
    .footer-top .i-1 .social ul li a {
        padding: 0px 5px;
        font-size: 13px;
    }
    .footer-top .i-2 .content p {
        font-size: 13px;
    }
    .footer-top .i-2 .icon {
        font-size: 15px;
        margin-top: 10px;
        margin-right: 15px !important;
    }
    .footer-top .i-2 .content a {
        font-size: 14px;
    }
}
@media (max-width: 968px) {
    .navbar {
        padding-bottom: 30px;
    }
    ul.header-menu li ul {
        top: 15px;
        left: 95px;
    }
    ul.header-menu li:focus ul {
        transform: translateX(-15px);
        opacity: 1;
        visibility: Visible;
    }
    .slider {
        height: 80vh;
    }
    .slider-text h2 {
        padding: 20px 0;
        font-size: 30px;
    }
    .slider-text p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .slider-social {
        bottom: -75px;
        left: 10px;
    }
    .about-right {
        margin-top: 90px;
    }
    .why-pcu-right .i-4 {
        margin-top: 18px;
    }
    .lfb-left {
        margin-bottom: 30px;
    }
    .lfb-left ul::before {
        height: calc(100% - 97px);
    }
    .common-content-1 h2 {
        font-size: 21px;
    }
    .common-content-1 p {
        font-size: 15px;
        line-height: 1.2rem;
    }
    .loan-form-bottom {
        margin-top: 15px !important;
    }
    .lfb-left h2 {
        font-size: 20px;
    }
    .lfb-right h4 {
        padding: 15px 0;
        font-size: 25px;
    }
    .help-yb-Call .hyc-content {
        padding: 30px 25px;
    }
    .help-yb-Call .hyc-content .hyc-content-left h3 {
        font-size: 20px;
        border-right: none;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
        text-align: center;
    }
    .help-yb-Call .hyc-content .hyc-content-right {
        text-align: center;
        padding-top: 20px;
    }
    .company-values-left {
        margin-bottom: 30px;
    }
    .scic-left {
        margin-bottom: 30px;
    }
    .clients-content-left {
        margin-bottom: 30px;
    }
    .clients-content-right .ccr-icon {
        left: 170px;
        bottom: 50px;
    }
    .clients-content-right {
        text-align: center;
    }
    .team-item {
        margin-bottom: 40px;
    }
    .blog-item {
        margin-bottom: 30px;
        text-align: center;
    }
    .blog-item p {
        text-align: left;
        margin-left: 60px;
    }
    .blog-item h2 a {
        font-size: 18px;
        display: block;
        text-align: left;
        margin-left: 60px;
    }
    .blog-item a span {
        display: block;
        width: 100px;
        margin-left: 60px;
    }
}
@media (max-width: 768px) {
    .navbar {
        padding-bottom: 30px;
        position: inherit !important;
    }
    .slider {
        height: 70vh;
    }
    .slider-text h2 {
        padding: 14px 0;
        font-size: 22px;
    }
    .slider-text p {
        font-size: 15px;
        margin-bottom: 15px;
    }
    body .btn-primary {
        padding: 10px 11px;
        width: 110px;
        font-size: 14px;
    }
    .about-logos {
        padding: 30px 0;
    }
}
@media (max-width: 576px) {
    .slider-social span {
        font-size: 15px;
        position: relative;
        margin-right: 35px;
    }
    .slider-social span::after {
        width: 25px;
    }
    .slider-social ul li a {
        padding: 0 5px;
        font-size: 16px;
    }
    .team-item {
        margin-bottom: 35px;
        text-align: center;
    }
    .blog-item p {
        margin-left: 72px;
    }
    .blog-item h2 a {
        margin-left: 72px;
    }
    .blog-item a span {
        margin-left: 67px;
    }
}
@media (max-width:450px){
    .h-call .h-call-right a {
                font-size: 13px;
            }
    .slider-social span::after {
        right: -32px;
    }
    .common-content-1 h2 {
        font-size: 20px;
    }
    .lfb-left h2 {
        font-size: 17px;
    }
    .lfb-left ul li {
        margin-bottom: 20px;
    }
    .lfb-left ul li h4 {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .lfb-left ul li p {
        line-height: 1.2rem;
        font-size: 15px;
    }
    .lfb-left ul::before {
        height: calc(100% - 140px);
    }
    .clients-content-right .ccr-icon {
        left: 130px;
        bottom: 30px;
    }
    .lfb-right {
        padding: 15px;
    }
    .lfb-right p {
        font-size: 16px;
        margin-top: 20px;
    }
    .lfb-right h4 {
        font-size: 20px;
    }
    .lfb-right .lfbr-form form label {
        font-size: 14px;
    }
}
